body {
    background-image: url();
    background-color: #000000;
    color: white;
}

.welcome {
	color: #8C3D96;
}

.welcomesub {
    color: #8C3D96;
}

.patreonProgressBarBacking {
	background-color: #171717;
	border-color: #342876;
}

.patreonProgressBar {
	background-color: #281d65;
}

.fundingProgressBarBacking {
        background-color: #171717;
        border-color: #342876;
}

.fundingProgressBar {
        background-color: #281d65;
}


ul li.home {
	background-image: url();
    background-color: #212121;
	border-color: #342877;
}

ul li.torrent {
	background-image: url();
    background-color: #212121;
	border-color: #342877;
}

a.linkbutton {
    color: #8C3D96;
}

a.linkbutton:hover {
    color: #5444AD
}

a.homebutton {
    color: #8C3D96;
}

a.homebutton:hover {
    color: #5444AD;
}

form.genericform {
    background-image: url();
    background-color: #212121;
	border-color: #342877;
}

form.urlUploadForm {
	background-color: black;
}

form.contact {
    background-image: url();
    background-color: #212121;
	border-color: #342877;
}

form.dz-clickable {
    background-image: url();
    background-color: #342877;
    border-color: #342877;
}

table {
    background-image: url();
    background-color: #212121;
	border-color: #342877;
}

td {
	border-color: #342877;
}

form.dz-clickable:hover {

	background-color: #5444AD;
	text-decoration: none;
	outline: none;
	transition: background-color 150ms linear;

}

div.dz-message {
    color: white;
}

div.dz-preview {
    background-image: url();
    background-color: #212121;
	border-color: #342877;
}

span.urlResponse {

    background-color: #342877;
    border-color: #342877;

}

span.urlResponse:hover {

	background-color: #5444AD;
	text-decoration: none;
	outline: none;
	transition: background-color 150ms linear;

}

p.albumlink {
	background-color: #342877;
	border-color: #342877;
}

p.albumlink:hover {
	background-color: #5444AD;
	text-decoration: none;
	outline: none;
	transition: background-color 150ms linear;
}

div.responseText {

    background-color: #342877;
    border-color: #342877;

}

div.responseText:hover {
	background-color: #5444AD;
	text-decoration: none;
	outline: none;
	transition: background-color 150ms linear;
}

div.seeders {
    background-image: url();
    background-color: #212121;
    border-color: #342877;
}

div.leechers {
    background-image: url();
    background-color: #212121;
    border-color: #342877;
}

div.completed {
    background-image: url();
    background-color: #212121;
    border-color: #342877;
}


input[type=submit] {
    background-color: #342877;
    border-color: #201467;
    color: white;
}

input[type=submit]:hover {
    background-color: #5444AD;
    border-color: #201467;
    color: white;
}

input[type=button] {
    background-color: #342877;
    border-color: #201467;
    color: white;
}

input[type=button]:hover {
    background-color: #5444AD;
    border-color: #201467;
    color: white;
}

input[type=text].stylized {
    background-color: #5444AD;
    border-color: #201467;
    color: white;
}

input[type=password] {
    background-color: #5444AD;
    border-color: #201467;
    color: white;
}

input[name=url] {
    background-color: #5444AD;
    border-color: #201467;
    color: white;
}

select {
    background-color: #5444AD;
    border-color: #201467;
    color: white;

}

textarea {
    background-color: #5444AD;
    border-color: #201467;
    color: white;
}

.hometab {
    background-image: url();
    background-color: #212121;
    border-color: #342877;
    color: white;
}

button.urlUpSubmit {
    background-color: #342877;
    border-color: #201467;
    color: white;
}

button.urlUpSubmit:hover {
    background-color: #5444AD;
}

.legalSection {
	background-color: #212121; 
}

.legalRow {
	color: black;
}

span.legalRowText {
	background-color: #212121;
	border: solid 1px #342877;	
	color: #8C3D96;
}

span.legalRowText.active {
	color: white;
	text-decoration: none;
}


.notenormal {
    background-image: url();
    background-color: #212121;
    border-color: #342877;
}

.notesmall {
    background-image: url();
    background-color: #212121;   
	border-color: #342877;
}

.notetiny {
    background-image: url();
    background-color: #212121;
    border-color: #342877;
}

.notetinywarning {
    background-image: url();
    background-color: #212121; 
}

div.contributor {
	border-color: #342877;
	background-image: url();
	background-color: rgb(33, 33, 33);
}

div.contributor > p > span {
	color: #8C3D96;
}
